.right {
  padding-top: 2.5rem;
  padding: 2rem;
}
.image img {
  border-radius: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}
.excerpt {
  font-size: 1.4rem;
  color: #7d7d7d;
  margin-top: 0.8rem;
  line-height: 1.4;
}
.tags {
  font-size: 1.4rem;
  color: #6b6b6b;
  font-weight: 400;
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

.footer {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}
.footerImage {
  width: 2.4rem;
  margin-right: 1rem;
  height: 2.4rem;
}
.footerInfo {
  font-size: 1.4rem;
  span {
    display: block;
    color: #6b6b6b;
  }
}
