@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import './base/variable';
@import './base/responsive';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h6,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.home-page {
  margin-top: 3rem;
}
.p-0 {
  padding: 0;
}
